h1 {
    font-weight:bold;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items:center;
    justify-content:center;
    display:flex;
    
    background:blue;

}
p {
    font-weight:bold;
    color:black;
    font-size:36px;
}
#input {
    background-color:lightskyblue;
    color:white;
    font-weight:bold;
    width: 250px;
    margin-top: 20px;
    
}

#form-group {
    width: 200px;
}


.current-city {
    display:flex;
    


}

.card-body {
    
    align-content:center;
    
}

.card {
    border-radius: 5px;
    border-color: black;
    margin-right: 50px;
    margin-left: 50px;
}
.row {
    margin-top:20px;
}

#UV {
    background:yellow;
}

h3 {
    text-align:center;
    text-decoration:underline;
}